@model IEnumerable<SPA_IE.Models.Data.SelectStudent_Result>


<table>
    <tr class="title">
        <th>
            Carnét
        </th>
        <th>
            ASIP
        </th>
        <th>
            Creado por
        </th>
        <th>
            Fecha de creación 
        </th>
        <th>
            Usuario
        </th>
        <th>
            Correo
        </th>
        <th>
            Provincia
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificationCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsASIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceName)
        </td>
        <td>
            <a data="@Url.Action("GetById", "Student", routeValues: new {id = item.IdStudent})" id="editStudentLink" class="btn btn-primary" onclick="editStudent(this)">Editar</a>
            <a data="@Url.Action("GetById", "Student", routeValues: new {id = item.IdStudent})" id="detailsStudentLink" class="btn btn-primary" onclick="detailsStudent(this)">Detalles</a>
            <a data="@Url.Action("GetById", "Student", routeValues: new {id = item.IdStudent})" id="deleteStudentLink" class="btn btn-primary" onclick="deleteStudent(this)">Eliminar</a>
        </td>
    </tr>
}

</table>
