@model IEnumerable<SPA_IE.Models.Data.SelectStudent_Result>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdentificationCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsASIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistrictName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificationCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsASIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictName)
        </td>
    </tr>
}

</table>
