@model IEnumerable<SPA_IE.Models.Data.SelectRequestStudent_Result>

<table class="table">
    <tr class="title">
        <th>
            @Html.DisplayNameFor(model => model.IdentificationCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsASIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinceName)
        </th>
        <th>
            Aprobar
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificationCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsASIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceName)
        </td>
        <td>
            <a data="@Url.Action("AproveRequest", "Student", routeValues: new {id = item.IdStudent})" id="aproveRequestLink" class="btn btn-primary" onclick="aprove(this)">Aprobar</a>
            <a data="@Url.Action("RejectRequest", "Student", routeValues: new {id = item.IdStudent})" id="rejectRequestLink" class="btn btn-danger" onclick="reject(this)">Rechazar</a>
        </td>
    </tr>
}

</table>

