@model IEnumerable<SPA_IE.Models.Data.SelectStudent_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdStudent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentificationCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUserProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsASIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProvince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCanton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDistrict)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistrictName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdStudent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificationCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUserProfile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsASIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEnable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdProvince)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCanton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdDistrict)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
