@model IEnumerable<SPA_IE.Models.Data.SelectComment_Result>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUserProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdConsultation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commentary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUserProfile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdConsultation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commentary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdComment }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdComment  }) |
            @Html.ActionLink("Delete", "Delete", new {id=item.IdComment  })
        </td>
    </tr>
}

</table>
