@model IEnumerable<SPA_IE.Models.Data.SelectProfessor_Result>

<table class="table">
    <tr class="title">
        <th>
            Usuario
        </th>
        <th>
            Email
        </th>
        <th>
            Es administrador
        </th>
        <th>
            Provincia
        </th>
        <th>
            Grado académico
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="display:none">
            @Html.DisplayFor(modelItem => item.IdUserProfile)
        </td>
        <td style="display:none">
            @Html.DisplayFor(modelItem => item.IdProfessor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
        </td>
    </tr>
}

</table>
