@model IEnumerable<SPA_IE.Models.Data.SelectProfessor_Result>

<table class="table">
    <tr class="title">
        <th>
            Usuario
        </th>
        <th>
            Email
        </th>
        <th>
            Es administrador
        </th>
        <th>
            Provincia
        </th>
        <th>
            Grado académico
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="display:none">
            @Html.DisplayFor(modelItem => item.IdUserProfile)
        </td>
        <td style="display:none">
            @Html.DisplayFor(modelItem => item.IdProfessor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            <a data="@Url.Action("GetById", "Professor", routeValues: new {id = item.IdProfessor})" id="editProfessorLink" class="btn btn-primary" onclick="editProfessor(this)">Editar</a>
            <a data="@Url.Action("GetById", "Professor", routeValues: new {id = item.IdProfessor})" id="detailsProfessorLink" class="btn btn-primary" onclick="detailsProfessor(this)">Detalles</a>
            <a data="@Url.Action("GetById", "Professor", routeValues: new {id = item.IdProfessor})" id="deleteProfessorLink" class="btn btn-primary" onclick="deleteProfessor(this)">Eliminar</a>
        </td>
    </tr>
}

</table>
